# Data Science Tools and Ecosystem

___In this notebook, Data Science Tools and Ecosystem are summarized___

***Some of the popular languages that Data Scientists use are:***

1. Python 
2. SQL
3. R

___Some of the commonly used libraries used by Data Scientists include:___

1. Matplot
2. libNumPy
3. Pandas

|Data Science Tools|
----
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

***This will convert 200 minutes to hours by diving by 60***?

In [14]:
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**

* Python
* SQL
* R

## Author

Clarence Tan Zhen Jin